@font-face {
    font-family: 'MyCustomFont';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: bold;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,html{
    height: 100%;
    font-family: Arial,sans-serif;
  }

  .container{
    display: flex;
    height: 100vh;
    
    align-items: center;
  }

  .sidebar{
    width: 400px;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
   

  .bg{
     background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
     background-size: cover;
     background-position: center;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
  }

  .patti{
    position: relative;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    top: 25%;
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    
  }

  .logo{
    background-image: url(odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 20%;
  }

 .text{
  font-family: 'MyCustomFont',sans-serif;
  font-size: 70px;
  
 }

 .credits{
  position: relative;
    z-index: 1;
    color: white;
  
    top: 80%;
    display: flex;
    justify-content: center;
    height: 10px;
    align-items: center;
 }

 .credits a{
  color: rgb(247, 247, 247);
  text-decoration: none;
 }
  .main-content{
    flex: 1;
    
    max-width: 67%;
  }

.main-content p{
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 30px;
}

form{
  border-top: 0.1px solid rgb(201, 201, 201);
  padding-top: 10px;
}

.form-container{
  padding: 30px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  max-width: 100%;
  padding-right: 50px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);

}

.sub{
   display: flex;
   flex-direction: column;
   width: 35%;
}

.sub label{
  margin-bottom: 2px;
  font-weight: bold;
}

.sub input{
  padding: 2px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #E5E7EB;
}

.sub input:focus{
  box-shadow: 0 0 5px 2px blue;
  outline: none;
}
#pass:invalid,#conpass:invalid{
   box-shadow: 0 0 5px 2px red;

}

#pass:valid,#conpass:valid{
  box-shadow: 0 0 5px 2px initial;
}

.boot{
  margin-top: 25px;
  flex-direction: column;
  width: 40%;
  padding-left: 30px;
  
}

.create{
   
   padding: 15px 35px;
   background-color: #596D48;
   color: white;
   border-radius: 12px;
   font-size: 15px;
  font-weight: bold;
}
.already{
  margin-top: 25px;
  border-width: 0px;
  padding: 0;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
}

.already span{
  color: #596D48;
}


